---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
const saberBeatsImage = "https://cdn.akamai.steamstatic.com/steam/apps/620980/ss_b65444cc4513f34bd41fa6b0fe96cf11d94fea8d.1920x1080.jpg?t=1701968029"
const bobSpongeImage = "https://scontent.oculuscdn.com/v/t64.5771-25/39003265_1599071400834248_1289897579555989791_n.png?_nc_cat=1&ccb=1-7&_nc_sid=6e7a0a&_nc_ohc=W4BgfDtZTZUAX9V3izo&_nc_ht=scontent.oculuscdn.com&oh=00_AfBMukFZvFgaSUHKNqe2TYm3BLhM2KyfJTLmrE2siX7zSw&oe=65E33A94"
const wrathImage = "https://eu-images.contentstack.com/v3/assets/blt740a130ae3c5d529/blt61d3fb1ce8d65caf/650ec857bcf59070a2201c44/asgardswrathcombatfeatured.jpg"
const wp = "https://wa.me/3506208514";
const data = [
	{
		title: "Beat Saber",
		description: "",
		image: saberBeatsImage,
		link: "https://beatsaber.com/",
	},
	{
		title: "Wrath of Asgard 2",
		description: "",
		image: wrathImage,
		link: "https://www.meta.com/es-la/experiences/2603836099654226",
	},
	{
		title: "Epic roller coaster",
		description: "",
		image: bobSpongeImage,
		link: "https://www.meta.com/es-la/experiences/2299465166734471/",
	},
]
---

<Layout title="Catalogo de juegos">
	<main>
		<div class="contact">
			<a href={wp} target="_blank">
				<Image src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/2062095_application_chat_communication_logo_whatsapp_icon.svg/1024px-2062095_application_chat_communication_logo_whatsapp_icon.svg.png" alt="whatsapp" width="50" height="50"/>
			</a>
		</div>
		<h1>Catalogo de <span class="text-gradient">Juegos</span></h1>
    <div class="container-games">
			{
				data.map((d) => (
					<div class="item-games">
						<h3>{d.title}</h3>
						<a href={d.link} target="_blank">
							<Image src={d.image} inferSize={true} alt={d.title}/>
						</a>
					</div>
				))
			}
    </div>
	</main>
</Layout>

<style>

  img {
    width: 100%;
		max-height: 300px;
		object-fit: cover;
		border-radius: 8px;
		object-position: center;
  }
	.contact {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		z-index: 100;
	}
  .container-games {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        200px,
        1fr
      )
    );
    gap: 16px;
  }
  .item-games {
    cursor: pointer;
  }
  .item-games:hover {
    opacity: .7;
  }
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
