---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
const saberBeatsImage = "https://scontent.oculuscdn.com/v/t64.5771-25/38974868_654318306881301_4701637681645090957_n.jpg?stp=dst-jpg_q92_s720x720&_nc_cat=1&ccb=1-7&_nc_sid=6e7a0a&_nc_ohc=V5dBXt3nSboAX-my_hW&_nc_ht=scontent.oculuscdn.com&oh=00_AfCQFN0MHH_FUK2L_iGtwL5GHzp6On8sylW8Tkm0Ob80QA&oe=65D89275"
const bobSpongeImage = "https://scontent.oculuscdn.com/v/t64.5771-25/39003265_1599071400834248_1289897579555989791_n.jpg?stp=dst-jpg_q92_s720x720&_nc_cat=1&ccb=1-7&_nc_sid=6e7a0a&_nc_ohc=rBR2qvPNC5IAX_MSeRD&_nc_ht=scontent.oculuscdn.com&oh=00_AfD_3Xnl-egtC9eHgJw4fbYmZX0ZGTMCCdIHFNfM6oMYoQ&oe=65D833AB"
const wrathImage = "https://scontent.oculuscdn.com/v/t64.5771-25/75322597_1564875450669182_5138164856136859425_n.jpg?stp=dst-jpg_q92_s720x720&_nc_cat=1&ccb=1-7&_nc_sid=6e7a0a&_nc_ohc=I0PFKA-E02kAX-0_31D&_nc_ht=scontent.oculuscdn.com&oh=00_AfAXsJvGE1_Imx-wJstmd_wLAnk9yxJCJdMHpjSm6bv7Nw&oe=65D8CEDC"
---

<Layout title="Welcome to Astro.">
	<main>
    
		<h1>Catalogo de <span class="text-gradient">Juegos</span></h1>
    <div class="container-games">
      <div class="item-games">
        <a href="https://www.meta.com/es-la/experiences/2448060205267927/" target="_blank">
          <Image src={saberBeatsImage} inferSize={true} alt="Saber beats"/>
        </a>
      </div>
      <div class="item-games">
        <a href="https://www.meta.com/es-la/experiences/2603836099654226" target="_blank">
          <Image src={wrathImage} inferSize={true} alt="Wrath"/>
        </a>
      </div>
      <div class="item-games">
        <a href="https://www.meta.com/es-la/experiences/2299465166734471/" target="_blank">
          <Image src={bobSpongeImage} inferSize={true} alt="Bob Sponge"/>
        </a>
      </div>
    </div>
	</main>
</Layout>

<style>
  img {
    width: 100%;
  }
  .container-games {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        300px,
        1fr
      )
    );
    gap: 16px;
  }
  .item-games {
    cursor: pointer;
  }
  .item-games:hover {
    opacity: .7;
  }
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
